/*Whole page formatting */
body {
    margin: 0 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

/*Nav bar fomatting*/
nav {
    background-color: #0e94cd;
    box-shadow: 0px 5px 1em rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.75em;
    margin-bottom: 3em;
}
    
nav button {
    background-color:white;
    color: hsl(198, 87%, 43%);
    font-weight: bold;
    font-size: 20px;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav .dropdown {
    text-align: right;
}

nav button:hover {
    background-color: hsl(198, 85%, 37%);
    color: #eaeaea;
}

nav button:active {
    box-shadow: inset 0px 0px 0.5em rgb(0, 0, 0, 0.5);
    background-color: hsl(198, 86%, 30%);
    color: #cbcbcb;
}

/* Dropdown formatting */
.dropdown-content {
    border: 2px solid #29292b;
    box-shadow: rgb(0, 0, 0, 75%) 0px 0px 10px;
    margin: 5px 10px 0px;
    position: absolute;
    right: 0;
}

.dropdown-content > br {
    display: none;
}

.dropdown-content a {
    background-color: hsl(198, 86%, 30%);
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 5px;
    display: block;
}

.dropdown-content > a:hover {
    background-color: hsl(198, 87%, 24%);
    color: #eaeaea;
}

.dropdown-content > a:active {
    background-color: hsl(198, 86%, 20%);
    color: #cbcbcb;
    box-shadow: inset 0px 0px 0.75em rgb(0, 0, 0, 0.5);
}

h1, h2 {
    color: black;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 20px;
}

/* --- Header --- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 3px solid black;
    background-color: white;
}

/* --- Vehicle Section --- */
.vehicle-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
    width: 95%;
}

.vehicle-info, .vehicle-total {
    background-color: #f9f9f9;
    border: 1px solid #acacac;
    box-shadow: 0px 0px 0.5em rgb(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
    width: 35%;
}

.vehicle-image-container {
    width: 100%;
    height: 300px;
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #333;
    margin-top: 15px;
}

    .vehicle-image-container img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

.vehicle-section h2 {
    font-size: 3em;
    margin: 0;
}

.vehicle-info > h2 {
    color: #f9f9f9;
    background-color: #2B303A;
    padding: 20px;
    margin: -20px;
}

.total-amount {
    color: green;
    font-size: 5em;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 0;
}

/* --- Info Section (Mail + Payment) --- */
.info-section {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}

.info-box {
    border: 1px solid #acacac;
    padding: 25px;
    width: 40%;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 0.5em rgb(0, 0, 0, 0.3);
}

.info-box > h2 {
    text-align: center;
    background-color: #2B303A;
    color: white;
    margin: -25px -25px 25px;
    padding: .75em 0em;
}

.info-box input[type="text"],
.info-box input[type="password"],
.info-box input[type="month"] {
    width: 95%;
    padding: 6px;
    border: 2px solid grey;
    margin-top: 5px;
    margin-bottom: 10px;
}

.info-box label {
    font-weight: bold;
    font-size: large;
}

/* --- Delivery Section --- */
.delivery-section {
    background-color: #f9f9f9;
    border: 1px solid #acacac;
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 0.5em rgb(0, 0, 0, 0.3);
}

    .delivery-section h2 {
        background-color: #2B303A;
        color: white;
        margin: -20px -20px 20px;
        padding: .75em 0em;
    }

    .delivery-section label {
        font-weight: bold;
        font-size: larger;
        display: block;
    }

/* --- Confirm Purchase --- */
.confirm-section {
    text-align: center;
    margin: 50px 0;
}

#confirmButton {
    background-color: #edbe22; /* yellow */
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 40px;
}

    #confirmButton:hover {
        background-color: rgb(213, 171, 31);
    }

    #confirmButton:active {
        transform: translateY(2px);
        transition: 0.2s;
        box-shadow: inset 0px 5px 0.5em rgb(0, 0, 0, 0.5);
    }

.confirm-section label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}
