/* Whole page formatting */
body {
    margin: 0 0 auto;
}

button {
    cursor: pointer;
}

/* Nav bar formatting */
nav {
    background-color: #0e94cd;
    box-shadow: 0px 5px 1em rgb(0, 0, 0, 0.3);
    padding-bottom: 0.75em;
    margin-bottom: 3em;
}
    
nav button {
    background-color:white;
    color: hsl(198, 87%, 43%);
    font-weight: bold;
    font-size: 20px;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav button:hover {
    background-color: hsl(198, 85%, 37%);
    color: #eaeaea;
}

nav button:active {
    transform: translateY(2px);
    transition: 0.2s;
    box-shadow: inset 0px 0px 0.5em rgb(0, 0, 0, 0.5);
    background-color: hsl(198, 86%, 30%);
    color: #cbcbcb;
}

/* Title formatting */
h1 {
    text-align: center;
    font-family: arial;
}

/* Sign-In information formatting */
form {
    background-color:#f9f9f9;
    border: 1px solid #acacac;
    text-align:center;
    font-weight: bold;
    font-family: arial;
    max-width: 300px;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: auto;
    box-shadow: 0px 0px 0.5em rgb(0, 0, 0, 0.5);
        
    input[type=submit] {
        background-color: #edbe22; /* yellow */
        color: black;
        font-weight: bold;
        font-size: 18px;
        padding: 10px 20px;
        margin-top: 1em;
    }
        
    input[type=submit]:hover {
        background-color: rgb(213, 171, 31);
    }
        
    input[type=submit]:active {
            transform: translateY(2px);
            transition: 0.2s;
            box-shadow: inset 0px 0px 0.5em black;
    }
}