/*Whole page formatting */
body {
    margin: 0 0 auto;
}

/* Nav bar formatting */
nav {
    background-color: #0e94cd;
    padding-bottom: 0.75em;
}
    
nav > button {
    background-color:white;
    color: hsl(198, 87%, 43%);
    font-weight: bold;
    font-size: 20px;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav > button:hover {
    background-color: hsl(198, 85%, 37%);
    color: #eaeaea;
}

nav > button:active {
    box-shadow: inset 0px 0px 0.5em rgb(0, 0, 0, 0.5);
    background-color: hsl(198, 86%, 30%);
    color: #cbcbcb;
}

/* Page title formatting */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Vehicle cards formatting */
.catalog-flex {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 20px; /* Adds space between items */
    padding: 20px;
    justify-content: center; /* Distributes items evenly in a line */
}

.catalog-item {
    background-color: #f9f9f9;
    border: 1px solid #acacac;
    padding: 0px 0px 20px;
    width: 300px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 0.5em rgb(0, 0, 0, 0.3);
    flex: 1 1 250px; /* Make items flexible and ensure a minimum width */

}

.catalog-item > h2 {
    background-color: #2B303A;
    color: white;
    margin: 0px;
    padding: 0.5em 0em;
}

.catalog-item > img {
    max-width: 300px;
    height: 200px; /*set the height to keep images the same size*/
    display: block; /* Removes extra space below the image */
    justify-content: center;
    margin: 0 auto 5px;
    overflow: hidden;
    object-fit: contain;
}

/* Purchase button formatting */
.catalog-item > button {
    width: 10em;
    height: 2.5em;
    background-color: #edbe22;
    font-weight: bold;
    font-size: 15px;
}

.catalog-item > button:hover {
    background-color: rgb(213, 171, 31);
}

.catalog-item > button:active {
    background-color: rgb(200, 160, 30);
    box-shadow: inset 0px 0px 0.75em rgb(0, 0, 0, 0.5);
}

/* Dropdown formatting */
.dropdown {
    text-align: right;
    position: relative;
}

.dropdown-content {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-align: right;
    position: absolute;
    right: 0;
}

#filter-controls {
    text-align: center;
}