/*
written by: Colin Showalter
*/

/* Whole page formatting */
body {
    margin: 0 0 auto;
}

button {
    cursor: pointer;
}

/* Nav bar formatting */
nav {
    background-color: #0e94cd;
    box-shadow: 0px 5px 1em rgb(0, 0, 0, 0.3);
    padding-bottom: 0.75em;
    margin-bottom: 3em;
}
    
nav button {
    background-color:white;
    color: hsl(198, 87%, 43%);
    font-weight: bold;
    font-size: 20px;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav button:hover {
    background-color: hsl(198, 85%, 37%);
    color: #eaeaea;
}

nav button:active {
    transform: translateY(2px);
    transition: 0.2s;
    box-shadow: inset 0px 0px 0.5em rgb(0, 0, 0, 0.5);
    background-color: hsl(198, 86%, 30%);
    color: #cbcbcb;
}

/* --- Info Section (Mail + Payment) --- */
#info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 0;
}

.info-box {
    background-color: #f9f9f9;
    border: 1px solid #acacac;
    box-shadow: 0px 0px 0.5em rgb(0, 0, 0, 0.3);
    position: relative;
    padding: 25px;
    width: 40%;
}

.info-box > h1 {
    background-color: #2B303A;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: -25px -25px 25px;
    padding: .75em 0em;
}

.info-box input[type="text"],
.info-box input[type="password"],
.info-box input[type="month"] {
    width: 95%;
    padding: 6px;
    border: 2px solid grey;
    margin-top: 5px;
    margin-bottom: 10px;
}

.info-box label {
    font-weight: bold;
    font-size: large;
}

/* Save info button formatting */
.info-box {
    input[type=submit] {
        background-color: #edbe22; /* yellow */
        color: black;
        font-weight: bold;
        font-size: 18px;
        padding: 15px 40px;
    }

    input[type=submit]:hover {
        background-color: rgb(213, 171, 31);
    }

    input[type=submit]:active {
        transform: translateY(2px);
        transition: 0.2s;
        box-shadow: inset 0px 5px 0.5em rgb(0, 0, 0, 0.5);
    }
}

.save-button {
    text-align: center;
}