<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purchasing A Vehicle</title>
</head>
<body>
    <h1>Enter purchase information below</h1>
    <h2>(User has an account)</h2>
    <form action="index.html">
        <label for="address1">Street Address</label><br>
        <input type="text" id="address1"><br><br>
        <label for="address2">Apt., Suite, Ect.</label><br>
        <input type="text" id="address2"><br><br>
        <label for="city">City</label><br>
        <input type="text" id="city"><br><br>
        <label for="state">State/Provinence</label><br>
        <input type="text" id="state"><br><br>
        <label for="zip">Postal/Zip Code</label><br>
        <input type="text" id="zip"><br><br>
        <input type="checkbox" name="purchase-info1" value="mail">
        <label for="purchase-info1"> Mail Purchase Information</label><br>
        <input type="checkbox" name="purchase-info2" value="Bike">
        <label for="purchase-info2"> Email Purchase Information</label><br>
        <input type="submit" value="Purchase">
    </form>
</body>
</html>
