<!--
written by: Wyatt McDonnell
tested by: Wyatt McDonnell
debugged by: Wyatt McDonnell
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sales Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sales-report.css') }}">
</head>
<body>
    <nav>
        <button onclick="location.href='/'" type="button">Home</button>
    </nav>
    <h1>Summary of vehicle Sales:</h1>
    <table class="orders-style" id="orders-container">
        <!-- automatically fill this with orders from the database -->
    </table>
    <script src="{{ url_for('static', filename='sales-report.js') }}"></script>
</body>
</html>