<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Payment and Mail Info</title>
</head>
<body>
    <nav>
        <button onclick="location.href='/'" type="button">Home</button>
    </nav>
    <h1 id="mail-header">Mail Information</h1>
    <form id="mail-form" action="/update-payment" method="post">
        <!-- Load Mail Info-->
    </form>
    <h1 id="payment-header">Payment Information</h1>
    <form id="payment-form" action="/update-payment" method="post">
        <!-- Load Payment Info-->
    </form>
</body>
</html>