<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Vehicle Inventory</title>
</head>
<body>
    <nav>
        <button onclick="location.href='/'" type="button">Home</button>
    </nav>
    <h1>Enter Vehicle Information</h1>
    <form action="/vehicle-inventory" method="post">
        <label for="name">Name</label><br>
        <input type="text" id="name" name="name"><br><br>

        <label for="stock">Stock</label><br>
        <input type="text" id="stock" name="stock"><br><br>

        <label for="price">Price</label><br>
        <input type="text" id="price" name="price"><br><br>

        <input type="submit" value="Update">
    </form>
</body>
</html>